{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>

    <center>
        <a><img src="{% static 'img/c5.png' %}" height="170px" width="1370px"></a></center>
</header>
 <center>
        <a href=""><img src="{% static 'img/logo1.png' %}" height="130px" width="130px"></a></center>
<center><h1>Logged Out</h1><h4>for logging <a href="login" >Click here</a></h4></center>
<center><h4><a href="/" >Home</a></h4></center>
<br>
<br>
<br>
<br>
<br>
<center><div class='footer navbar-fixed-bottom my-footer'>
    <p class="text-center">&copy;2022 Co-WIN All Rights Reserved</p>
</div></center>
</body>
</html>